body, html {
  padding:0;
  font-family:  "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 18px;
  height:100% !important; /* Fix to prevent skrollr setting incorrect height */
}

section {
  border-bottom:1px solid #2d2d2d;
  font-family: 18px;
}

.generic-padding {
  padding-top:50px;
  padding-bottom:70px;
}
